<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<applicationIcons>yes</applicationIcons>
		<menu execute="openbox-menu gnome-applications.menu" 
			id="apps"
			label="Aplicaciones"
		/>
		<separator />	
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="Web browser">
			<action name="Execute">
				<execute>x-www-browser</execute>
			</action>
		</item>
		<separator />
		<!-- This requires the presence of the 'menu' package to work -->
		<item label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Restart Openbox">
			<action name="Restart"/>
		</item>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure" />
		</item>
		<item label="Exit Openbox">
			<action name="Exit"/>
		</item>
		<separator/>
		<item label="Reboot">
			<action name="Execute">
				<prompt>Reboot?</prompt>
				<execute>/sbin/shutdown -r now</execute>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<prompt>Power off?</prompt>
				<execute>/sbin/shutdown -h now</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
